{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>超市</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="renderer" content="webkit">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="icon" type="image/png" href="{% static '/theme/default/images/favicon.png'%}">
		<link href="{% static 'css/amazeui.min.css'%}" rel="stylesheet" type="text/css" />
		<link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css" />
		<script src="{% static 'js/jquery-1.10.2.min.js'%}"></script>
		<script src="{% static 'js/time.js'%}"></script>
		<script src="{% static 'js/jquery.min.js'%}"></script>
		<script src="{% static 'js/amazeui.min.js'%}"></script>
		<style>
			.shop-list-mid .tit a{color: #909090;
			font-size: 1.4rem;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			overflow: hidden;
			white-space: normal;
			text-overflow: ellipsis;}
		</style>
	</head>
	<body>
		<header data-am-widget="header" class="am-header am-header-default sq-head ">
			<div class="am-header-left am-header-nav">
				<a href="javascript:history.back()" class="">
					<i class="am-icon-chevron-left"></i>
				</a>
			</div>
		    <div class="cate-search">
		    	<input type="text" class="cate-input" placeholder="请输入您要的搜索的产品关键词" />
		    	<input type="button" class="cate-btn" />
	        </div>
	    </header>
	    <div style="height: 49px;"></div>
	    <ul class="list-nav">
	    	<li class="current"><a href="">综合</a></li>
	    	<li><a href=""><i class="list-price">销量</i></a></li>
			<li><a href=""><i class="list-price">价格</i></a></li>
	    </ul>
	    <div class="content-list">
	    	<div class="list-left">
				{% if category.category_name == '苹果'%}
	    		<li class="current"><a href="javascript:post('苹果')">苹果</a></li>
	    		<li class=""><a href="javascript:post('雪梨')">雪梨</a></li>
				<li class=""><a href="javascript:post('草莓')">草莓</a></li>
				{% endif %}
				{% if category.category_name == '雪梨'%}
	    		<li class=""><a href="javascript:post('苹果')">苹果</a></li>
	    		<li class="current"><a href="javascript:post('雪梨')">雪梨</a></li>
				<li class=""><a href="javascript:post('草莓')">草莓</a></li>
				{% endif %}
				{% if category.category_name == '草莓'%}
	    		<li class=""><a href="javascript:post('苹果')">苹果</a></li>
	    		<li class=""><a href="javascript:post('雪梨')">雪梨</a></li>
				<li class="current"><a href="javascript:post('草莓')">草莓</a></li>
				{% endif %}
	    	</div>
			<script>
				function post(x)
				{
					var form = document.createElement("form");
					form.method = "post";
					form.action = "category.html"
					document.body.appendChild(form);
					var input = document.createElement("input");
					input.type = "hidden";
					input.name = "name";
					input.value = x;
					form.appendChild(input);
					form.submit();
				}
			</script>
	    	<div class="list-right">
	    		<ul class="list-pro">
					{% for goods in goods_all %}
	    	<li>
	    		<a href="detail.html"><img src="{{goods.pic_url}}" class="list-pic" /></a>
	    		<div class="shop-list-mid" style="width: 65%;">
                	<div class="tit"><a href="detail.html">{{goods.title}}</a></div>
                	<div class="am-gallery-desc">￥{{goods.price}}</div>
                	<p>销量：{{goods.sale}}件</p>
                </div>
                <a href="javascript:postcollect('{{goods.id}}')" class="list-cart"><img src="{% static 'images/cart.png'%}" width="30"/></a>
	    	</li>
					{% endfor %}
	    </ul>
	    	</div>
			    <script>
            function postcollect(x)
				{
					var form = document.createElement("form");
					form.method = "post";
					form.action = "shopcart.html";
					var input = document.createElement("input");
					input.name = "number";
					input.type = "hidden";
					input.value = 1;
					form.appendChild(input);
					var input = document.createElement("input");
					input.name = "goods_id";
					input.type = "hidden";
					input.value = x;
					form.appendChild(input);
					document.body.appendChild(form);
					form.submit();
				}
    </script>
	    </div>
	    
	    <!--底部-->
 <div style="height: 55px;"></div>
 
 
 
 
 

<script>
//购物数量加减
$(function(){
		$('.increase').click(function(){
			var self = $(this);
			var current_num = parseInt(self.siblings('input').val());
			current_num += 1;
			if(current_num > 0){
				self.siblings(".decrease").fadeIn();
				self.siblings(".text_box").fadeIn();
			}
			self.siblings('input').val(current_num);
			update_item(self.siblings('input').data('item-id'));
		})		
		$('.decrease').click(function(){
			var self = $(this);
			var current_num = parseInt(self.siblings('input').val());
			if(current_num > 0){
				current_num -= 1;
                if(current_num < 1){
	                self.fadeOut();
					self.siblings(".text_box").fadeOut();
                }
				self.siblings('input').val(current_num);
				update_item(self.siblings('input').data('item-id'));
			}
		})
	})

</script>
	</body>
</html>
