{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>超市</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="renderer" content="webkit">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="icon" type="image/png" href="{% static '/theme/default/images/favicon.png'%}">
		<link href="{% static 'css/amazeui.min.css'%}" rel="stylesheet" type="text/css" />
		<link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css" />
		<script src="{% static 'js/jquery-1.10.2.min.js'%}"></script>
	</head>
	<body>
		<header data-am-widget="header" class="am-header am-header-default sq-head ">
			<div class="am-header-left am-header-nav">
				<a href="javascript:history.back()" class="">
					<i class="am-icon-chevron-left"></i>
				</a>
			</div>
			<h1 class="am-header-title">
  	            <a href="" class="">编辑</a>
            </h1>
            <div class="am-header-right am-header-nav">
			    <a href="javascript:del()" class="">
		        删除
		        </a>
			</div>
	    </header>
	    <div style="height: 49px;"></div>
	    <ul class="list-pro" style="margin-top: 0;">
			{% for goods in goods_collect %}
	    	<li>
	    		<label class="am-checkbox am-warning"  style="float: left; width: 5%; margin-top: 3.5rem;">
                 <input type="checkbox" name="check" value="{{goods.id}}" data-am-ucheck>
                </label>
	    		<a href="detail-{{ goods.id }}.html"><img src="{{goods.pic_url}}" class="list-pic" /></a>
	    		<div class="shop-list-mid" style="width: 60%;">
                	<div class="tit"><a href="detail.html">{{goods.title}}</a></div>
                	<div class="am-gallery-desc">￥{{goods.price}}</div>
                	<p>销量：{{goods.sale}}件</p>
                </div>
	    	</li>
			{% endfor %}
	    </ul>
	    
	    
	    		<!--底部-->
	    

 
 
<script>
	//购物数量加减
	$(function(){
		$('.increase').click(function(){
			var self = $(this);
			var current_num = parseInt(self.siblings('input').val());
			current_num += 1;
			self.siblings('input').val(current_num);
			update_item(self.siblings('input').data('item-id'));
		})		
		$('.decrease').click(function(){
			var self = $(this);
			var current_num = parseInt(self.siblings('input').val());
			if(current_num > 1){
				current_num -= 1;
				self.siblings('input').val(current_num);
				update_item(self.siblings('input').data('item-id'));
			}
		})
	})
</script>
		<script>
			function del()
			{
				var checkdel = document.getElementsByName("check");
				var form = document.createElement("form");
				form.method = "post";
				form.action = 'delcollect'
				document.body.appendChild(form)
				var j = 0;
				for(var i=0;i<checkdel.length;i++)
				{
					if(checkdel[i].checked == true)
					{
						var input = document.createElement("input");
						input.type = "hidden";
						input.name = j;
						input.value = checkdel[i].value;
						form.appendChild(input);
						j++;
					}
				}
				form.submit();
			}
		</script>
<script src="{% static 'js/jquery.min.js'%}"></script>
<script src="{% static 'js/amazeui.min.js'%}"></script>
	</body>
</html>
