{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>超市</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="{% static '/theme/default/images/favicon.png'%}">
    <link href="{% static 'css/amazeui.min.css'%}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css"/>
    <script src="{% static 'js/jquery-1.10.2.min.js'%}"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script>
        	function changeImage(){
              document.getElementById("imgflag").src="{% static 'images/redherat.png'%}";
           }

    </script>

    <style>
			.am-slider-default .am-control-nav{ text-align: center;}
			.am-slider-default .am-control-nav li a.am-active{ background: #cb2527;}
			.am-slider-default .am-control-nav li a{ border: 0; width: 10px; height: 10px;}

    </style>
</head>
<body>
<header data-am-widget="header" class="am-header am-header-default sq-head ">
    <div class="am-header-left am-header-nav">
        <a href="javascript:history.back()" class="">
            <i class="am-icon-chevron-left"></i>
        </a>
    </div>
    <h1 class="am-header-title">
        <a href="" class="">商品详情</a>
    </h1>
</header>
<div style="height: 49px;"></div>
<!--图片轮换-->
<div class="am-slider am-slider-default" data-am-flexslider id="demo-slider-0">
    <ul class="am-slides">
        <li><img src="{{goods_detail.pic_url}}"/></li>
        <li><img src="{{goods_detail.pic_url}}"/></li>
    </ul>
</div>
<div class="detal-info" style="position: relative; width: 100%;">
    <p>{{goods_detail.title}}</p>
    <h2>商城价：<span>￥{{goods_detail.price}}</span></h2>
    {% if collect == 1 %}
    <div class="heart">
        <img src="{% static 'images/redherat.png'%}" width="25" id="imgflag" onclick="changeImage()"/>
        <p>收藏</p>
    </div>
    {% else %}
     <div class="heart">
        <img src="{% static 'images/herat.png'%}" width="25" id="imgflag" onclick="changeImage()"/>
        <p>收藏</p>
    </div>
    {% endif %}
</div>
<div class="d-amount">
    <h4>数量：</h4>
    <div class="d-stock">
        <a class="decrease">-</a>
        <input id="num" readonly="" class="text_box" name="" type="text" value="1">
        <input id="id" type="hidden" value="1">
        <a class="increase">+</a>
        <span id="dprice" class="price" style="display:none"> 36</span>
    </div>
</div>
<div style="background: #eee; height: 10px;"></div>
<div class="am-tabs detail-list" data-am-tabs>
    <ul class="am-tabs-nav am-nav am-nav-tabs">
        <li class="am-active"><a href="#tab1">商品详情</a></li>
        <li><a href="#tab2">商品评论</a></li>
    </ul>

    <div class="am-tabs-bd">
        <div class="am-tab-panel am-fade am-in am-active detail " id="tab1">
            {{goods_detail.goods.detail}}
            <img src="{{goods_detail.pic_url_detail}}"/>
        </div>
        <div class="am-tab-panel am-fade detail " id="tab2">
            <div class="comment">
                <span>好评：</span>
                <div class="progress-bar progress-bar-success" role="progressbar"
                 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                 style="width: {{good_bili}}%;">
                <span>{{good_bili}}%</span>
                </div>
            </div>
            <div class="comment">
                <span>中评：</span>
                <div class="progress-bar progress-bar-info" role="progressbar"
                 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                 style="width: {{middle_bili}}%;">
                <span>{{middle_bili}}%</span>
                </div>
            </div>
            <div class="comment">
                <span>差评：</span>
                <div class="progress-bar progress-bar-warning" role="progressbar"
                 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                 style="width: {{bad_bili}}%;">
                <span>{{bad_bili}}%</span>
                </div>
            </div>

            <ul class="comment-list">
                <li class="current"><a href="">全部</a></li>
                <li><a>好评（{{good}}）</a></li>
                <li><a>中评（{{middle}}）</a></li>
                <li><a>差评（{{bad}}）</a></li>
            </ul>
            {% for comment in comment_list %}
            <ul class="comment-pic">
                <li>
                    <div class="tit">
                        <img src="{% static 'images/tx.png'%}" class="tx"/>
                        <span>{{comment.comment_name}}</span>
                        <i> {{comment.comment_time}}</i>
                    </div>
                    <div class="comment-con">
                        {{comment.comment_content}}
                    </div>
                </li>
            </ul>
            {% endfor %}
        </div>
    </div>
</div>


<!--底部-->
<div style=" height: 55px;"></div>
<ul class="fix-shopping">
    <li><a href="javascript:postform()" class="join" >加入购物车</a></li>
    <li><a href="javascript:tureorder()" class="imm-buy">立即购买</a></li>
</ul>

<script>
	//购物数量加减
	$(function(){
		$('.increase').click(function(){
			var self = $(this);
			var current_num = parseInt(self.siblings('input').val());
			current_num += 1;
			self.siblings('input').val(current_num);
			update_item(self.siblings('input').data('item-id'));
		})		
		$('.decrease').click(function(){
			var self = $(this);
			var current_num = parseInt(self.siblings('input').val());
			if(current_num > 1){
				current_num -= 1;
				self.siblings('input').val(current_num);
				update_item(self.siblings('input').data('item-id'));
			}
		})
	})

</script>
<script>
    function postform()
    {
        var form = document.createElement("form");
        var number = document.getElementById("id");
        form.method = "post";
        form.action = "/shopcart.html";
        var input = document.createElement("input");
        input.name = "number";
        input.type = "hidden";
        input.value = number.value;
        form.appendChild(input);
        var input = document.createElement("input");
        input.name = "goods_id";
        input.type = "hidden";
        input.value = {{goods_detail.id}};
 		form.appendChild(input);
 		document.body.appendChild(form);
 		form.submit();
    }
</script>
<script>
    function tureorder()
    {
        var form = document.createElement("form");
        var number = document.getElementById("id");
        form.method = "post";
        form.action = "/tureorder.html";
        document.body.appendChild(form);
        var input = document.createElement("input");
        input.type = "hidden";
        input.name = "0"
        input.value = {{goods_detail.id}}+":"+number.value
        form.appendChild(input);
        form.submit();
    }
</script>


<script src="{% static 'js/jquery.min.js'%}"></script>
<script>
    $("#imgflag").click(function()
    {
        $.post("/collect.html", {"goods_id":{{goods_detail.id}}}, function(res){})
    });
</script>
<script src="{% static 'js/amazeui.min.js'%}"></script>
</body>
</html>
