{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>超市</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="renderer" content="webkit">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="icon" type="image/png" href="{% static '/theme/default/images/favicon.png'%}">
		<link href="{% static 'css/amazeui.min.css'%}" rel="stylesheet" type="text/css" />
		<link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css" />
		<script src="{% static 'js/jquery-1.10.2.min.js'%}"></script>
		<script src="{% static 'js/date.js'%}"></script>
		<script src="{% static 'js/iscroll.js'%}"></script>
		<script type="text/javascript">
			$(function(){
				$('#beginTime').date();
				$('#endTime').date({theme:"datetime"});
			});
        </script>
	</head>
	<body>
		<header data-am-widget="header" class="am-header am-header-default sq-head ">
			<div class="am-header-left am-header-nav">
				<a href="javascript:history.back()" class="">
					<i class="am-icon-chevron-left"></i>
				</a>
			</div>
			<h1 class="am-header-title">
  	            <a href="" class="">确认订单</a>
            </h1>
	    </header>
	    <div style="height: 49px;"></div>
	    <h5 class="order-tit">收货人信息</h5>
	    <div class="order-name">
	    	<a href="gladdress.html">
	    		<p class="order-tele">{{order_consignee.consignee_name}}&nbsp;&nbsp;&nbsp;{{order_consignee.consignee_phone}}</p>
	    		<p class="order-add">{{order_consignee.consignee_address}}</p>
	    	</a>
	    	<i class="am-icon-angle-right"></i>
	    </div>
        <div style="background: #eee; height: 10px;"></div>
        <h5 class="order-tit">确认订单信息</h5>
        <ul class="shopcart-list" style="padding-bottom: 0; margin-top: 0;">
			{% for goods in goods_list%}
	    	<li>
                <img src="{{goods.pic_url}}" class="shop-pic" />
                <div class="order-mid">
                	<div class="tit">{{goods.title}}</div>
                	<div class="order-price">￥{{goods.price}} <i>X{{goods.goods_order_number}}</i></div>
                </div>
	    	</li>
			{% endfor %}
	    </ul>
	    <ul class="order-infor">
	    	<li class="order-infor-first">
	    		<span>商品总计：</span>
	    		<i>￥{{order_price}}</i>
	    	</li>
	    	<li class="order-infor-first">
	    		<span>运费：</span>
	    		<i>包邮</i>
	    	</li>
	    	<li class="order-infor-first">
	    		<a href="integral.html">积分抵费></a>
	    	</li>
	    	<li class="order-infor-first">
	    		<a href="yhq.html">选择优惠券></a>
	    	</li>
	    </ul>
	    <!--<div style="background: #eee; height: 10px;"></div>
	    
	    <input id="beginTime" class="select-time" placeholder="请选择配送时间 >" /></div>
		<div id="datePlugin"></div>-->
	    <div style="background: #eee; height: 10px;"></div>
	    <textarea placeholder="备注说明" class="bz-infor"></textarea>
	    <div style="background: #eee; height: 10px;"></div>
	    <div style="height: 55px;"></div>
	    <div class="shop-fix">
	    	<div class="order-text">
	    		应付总额：<span>￥188</span>
	    	</div>
	    	<a href="javascript:pay('{{order_id}}')" class="js-btn">支付订单</a>
	    </div>
		<script>
			function pay(x)
			{
				var form = document.createElement("form");
				form.method = "post";
				form.action = "/pay.html";
				document.body.appendChild(form);
				var input = document.createElement("input");
				input.type = "hidden";
				input.name = "order_id"
				input.value = x
				form.appendChild(input);
				form.submit();
			}
		</script>
<!--底部-->
 <div style="height: 55px;"></div>
 <div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default sq-foot am-no-layout" id="">
      <ul class="am-navbar-nav am-cf am-avg-sm-5">   
          <li>
            <a href="index.html" class="">
                <span class="am-icon-home"></span>
                <span class="am-navbar-label">首页</span>
            </a>
          </li>
          <li>
            <a href="message.html" class="">
                <span class="am-icon-comments"></span>
                <span class="am-navbar-label">动态</span>
            </a>
          </li>
          <li>
            <a href="shopcart.html" class="">
                <span class="am-icon-shopping-cart"></span>
                <span class="am-navbar-label">购物车</span>
            </a>
          </li>
          <li>
            <a href="allorder.html" class="">
                <span class="am-icon-file-text"></span>
                <span class="am-navbar-label">订单</span>
            </a>
          </li>
 
          <li>
            <a href="member.html" class="curr">
                <span class="am-icon-user"></span>
                <span class="am-navbar-label">我的</span>
            </a>
          </li>
      </ul>
</div>
 
	</body>
</html>
